body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;

    background-color: #0C0E0B;
    color: #D6E7F3;

    h1 {
        filter: drop-shadow(0 20px 10px #D6E7F3);
        font-size: 50px;
    }
    h2 {
        filter: drop-shadow(0 20px 10px #D6E7F3);
    }
    p {
        filter: drop-shadow(0 20px 10px #D6E7F3);
    }

    img {
        border: #D6303A solid 15px;
        border-radius: 10px 30px;
        box-shadow: 
        0 0 20px #D6303A,
        0 0 30px #D6303A;
    }
    img:hover {
        border: #D6E7F3 solid 15px;
        box-shadow: 
        0 0 20px #D6E7F3,
        0 0 30px #D6E7F3,
        0 0 40px #D6E7F3;
    }
    #meuamor {
        filter: blur(2px);
    }
    #meuamor:hover {
        filter: blur(0px);
    }

    #pf {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 20px;
    }
    #pfnome {
        position: relative;
        left: 80px;
        top: -110px;
    }
    #livro1 {
        position: relative;
        left: 50px;
        transform: rotate(-15deg);
    }
    #livro1:hover {
        transition: 0.5s;
        transform: rotate(-30deg);
    }
    #livro2 {
        position: relative;
        right: 20px;
        transform: rotate(15deg);
    }
    #livro2:hover {
        transition: 0.5s;
        transform: rotate(30deg);
    }
}